.notifications-container {
  width: 520px;
  height: auto;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 2rem;
  border: solid rgb(0, 255, 76);
  overflow: hidden;
  box-shadow: rgba(34, 255, 0, 0.25) 0px 54px 55px,
    rgba(167, 255, 67, 0.12) 0px -12px 30px, rgba(83, 234, 78, 0.12) 0px 4px 6px,
    rgba(36, 222, 104, 0.17) 0px 12px 13px, rgba(40, 200, 86, 0.09) 0px -3px 5px;
}
.Main {
  display: flex;
  justify-content: center;
  margin-block: -15rem 10rem;
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.success {
  padding: 1rem;
  border-radius: 0.375rem;
  background-color: rgb(240 253 244);
}

.succes-svg {
  color: rgb(74 222 128);
  width: 2.25rem;
  height: 2.25rem;
}

.success-prompt-wrap {
  margin-left: 0.75rem;
}

.success-prompt-heading {
  font-weight: bold;
  color: rgb(22 101 52);
}

.success-prompt-prompt {
  margin-top: 0.5rem;
  color: rgb(21 128 61);
}

.success-button-container {
  display: flex;
  margin-top: 0.875rem;
  margin-bottom: -0.375rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.success-button-main {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ecfdf5;
  color: rgb(22 101 52);
  line-height: 1.25rem;
  font-weight: bold;
  border-radius: 0.375rem;
  border: none;
  font-size: 2rem;
  margin-block: 1rem;
}

.success-button-main:hover {
  background-color: #d1fae5;
}

.success-button-secondary {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.75rem;
  background-color: #ecfdf5;
  color: #065f46;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  border: none;
  font-size: 2rem;
  margin-block: 1rem;
}
